@media only screen and (min-width:1200px){
	.wrapper{
		max-width:1200px;
	}
}

@media only screen and (min-width:981px){

}

@media only screen and (min-width:641px) and (max-width:980px){
	#shule_left_container, #more_shule_left, #shule_right_container{
		float:none;
		width:auto;
	}

	#shule_right_container{
		padding-left:0;
	}
}

/* tablets portrait*/
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){
	#shule_left_container, #more_shule_left, #shule_right_container{
		float:none;
		width:auto;
	}

	#shule_right_container{
		padding-left:0;
	}
}

@media only screen and (max-width:640px){
	input[type="text"]{
		width:100%;
	}

	input[type="password"]{
		width:100%;
	}

	input[type="submit"]{
		width:100%;
	}

	textarea {
		width:100%;
	}

	#menu_container{
		position:fixed;
		left:0;
		width:100%;
		height:100%;
	}

	#menu ul li a{
		text-align:center;
	}

	#dashboard{
		height:auto;
		background:#F5F5F5;
	}

	.shule_cover{
		width:5em;
		height:5em;
		overflow:hidden;
		float:left;
	}

	.shule_cover img{
		width:auto;
		height:100%;
	}

	.shule_details{
		overflow:hidden;
	}

	.shule_details .shule_title{
		font-size:90%;
	}

	.shule_details .shule_body{
		display:none;
	}

	.shule_details .shule_category{
		display:none;
	}

	.shule_details .shule_title:hover{
		background:none;
		text-decoration:underline;
	}

	#shule_tit_cat{
		float:none;
		width:auto;
		margin-right:20px;
	}

	#shule_container_title{
		font-size:80%;
	}

	#shule_container_body{
		display:none;
	}

	#shule_left_container, #more_shule_left, #shule_left_left_container, #shule_left_right_container, #shule_right_container{
		float:none;
		width:auto;
	}

	#shule_right_container{
		padding-left:0;
	}

	#copyright{
		float:none;
		line-height:normal;
		margin-right:0;
		text-align:center;
	}

	#fot_soc{
		float:none;
		text-align:center;
	}

	#fot_soc a{
		float:none;
		display:inline-block;
	}

	#fot_links{
		float:none;
		border-top:5px solid #A1A1A1;
		border-bottom:5px solid #A1A1A1;
		text-align:center;
	}

	#fot_links a{
		display:block;
		float:none;
		margin:0;
	}

	#twt_feed_body #desktop{
		display:none;
	}

	#twt_feed_body #mobile{
		display:block;
	}
}
