@media only screen and (min-width:1200px){
	.wrapper{
		max-width:1200px;
	}
}

@media only screen and (min-width:981px){

}

@media only screen and (min-width:641px) and (max-width:980px){
	#feed_left_container, #more_feed_left, #feed_right_container{
		float:none;
		width:auto;
	}

	#feed_right_container{
		padding-left:0;
	}

	#start input[type="text"], #start input[type="password"]{
		margin:0 auto 10px auto;
		display:block;
	}

	#user_flyout{
		padding-right:10px;
	}

	#user_flyout_menu{
		right:10px;
	}

	/*#trend_main{
		padding-left:5px;
	}*/

	.feed{
		width:calc(100% / 3 - 5px);
	}
}

/* tablets portrait*/
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){
	#feed_left_container, #more_feed_left, #feed_right_container{
		float:none;
		width:auto;
	}

	#feed_right_container{
		padding-left:0;
	}

	#start input[type="text"], #start input[type="password"]{
		margin:0 auto 10px auto;
		display:block;
	}

	#user_flyout{
		padding-right:10px;
	}

	#user_flyout_menu{
		right:10px;
	}

	/*#trend_main{
		padding-left:5px;
	}*/

	.feed{
		width:calc(100% / 3 - 5px);
	}
}

@media only screen and (max-width:640px){
	#carousel_container{
		display:none;
	}

	#hot_cause_action a{
		width:auto;
	}

	#message_container{
		float:left;
		margin-left:10px;
	}

	#menu{
		display:none;
	}

	#mobile_menu{
		display:block;
	}

	#footer div.wrapper{
		margin:auto;
		padding:0 10px;
	}

	#copyright{
		text-align:center;
		float:none;
		line-height:normal;
		margin-right:0;
	}

	#fot_soc{
		float:none;
		text-align:center;
	}

	#fot_soc a{
		float:none;
	}

	#fot_soc img{
		display:inline;/*block display affects container*/
	}

	#fot_links{
		float:none;
		border-top:5px solid #A1A1A1;
		border-bottom:5px solid #A1A1A1;
	}

	#fot_links a{
		display:block;
		float:none;
		text-align:center;
	}

	#about div.wrapper, #projects div.wrapper, #donate div.wrapper, #get_involved div.wrapper{
		padding-left:10px;
		padding-right:10px;
		text-align:center;
	}

	#get_involved_body{
		width:auto;
		float:none;
	}

	#get_involved_thumb{
		overflow:none;
	}

	#get_involved_thumb img{
		width:100%;
		height:auto;
	}

	#about div#intro{
		float:none;
		width:auto;
	}

	#about div#mission{
		overflow:none;
		padding-left:0;
	}

	.project_item{
		width:auto;
		float:none;
	}

	.project_item:nth-child(1){
		position:static;
	}

	.project_item:nth-child(2){
		margin:2em 0;
	}

	.project_item:nth-child(3){
		position:static;
	}

	#get_involved_action a#apply_button{
		width:auto;
	}

	#contact{
		padding-bottom:10px;
		padding-top:10px;
	}

	#contact div.wrapper{
		padding-left:10px;
		padding-right:10px;
		border-bottom:none;
	}

	.apply_form_inputs, .details_cat_body{
		width:calc(100% - 40px);
	}

	.apply_form_timeline, .details_links{
		width:calc(100% - 20px);
	}

	a.apply_form_timeline_step, a.details_links_cat{
		display:block;
		margin-bottom:5px;
	}

	textarea{
		width:calc(100% - 1px);
	}

	input[type="button"].apply_submit_but{
		width:50%;
	}

	#feed_tit_cat{
		float:none;
		width:auto;
		margin-right:20px;
	}

	#feed_container_title{
		font-size:80%;
	}

	#feed_container_body{
		display:none;
	}

	#feed_left_container, #more_feed_left, #feed_left_left_container, #feed_left_right_container, #feed_right_container{
		float:none;
		width:auto;
	}

	#feed_right_container{
		padding-left:0;
	}

	.feed{
		width:calc(100% - 20px);/*off-setting margin length*/
		float:none;
		margin-right:0;
	}

	#hero_intro{
		padding:5em 0 1em 0;
	}

	#trend_main{
		padding:0 10px;
	}

	#start{
		padding-left:10px;
		padding-right:10px;
	}

	#start input[type="text"], #start input[type="password"]{
		margin-bottom:10px;
		display:block;
		width:100%;
	}

	#user_flyout{
		padding-right:10px;
	}

	#user_flyout_menu{
		right:10px;
	}

	#hero_engage{
		font-size:300%;
	}

	.stream_form input[type="text"]{
		width:100%;
	}
}
